@import '../../resources.scss';

.main-header {
  position: fixed;
  @include z-index(2);
  top: 0;
  left: 0;
  width: calc(100% - 6em);
  height: auto;
  padding: 3em 3em 1.5em 3em;
  @include parentFlex(row, wrap, space-between);
  font-family: $mainFont;
  font-size: 62.5%;
  color: $textColor;
  background-color: #f0f0f0;

  .header-icon {
    flex-basis: auto;
    height: 3.5em;
    cursor: pointer;
  }

  .application-title {
    align-self: center;
    font-size: 2em;
    font-weight: 700;
    text-shadow: 0 3px 6px rgba(0,0,0,0.14);
    span {
      font-weight: 300;
    }
  }
}