<div class="main">
  <div class="wrapper">
    <h1>Toque aqui para escanear</h1>
    <p>Mantenha a câmerá próxima do código e tire a foto</p>
  </div>

  <input type=text class=qrcode-text>
  <label class=qrcode-text-btn>
   <input id="input"
          type=file
          accept="image/*"
          capture=environment
          tabindex=-1>
  </label>
  <style type="text/css">
    
  
    .qrcode-text-btn {
      display: inline-block;
      height: 1em;
      width: 1em;
      background-color: deepskyblue;
      cursor: pointer;
    }

    .qrcode-text-btn > input[type=file] {
      position: absolute;
      overflow: hidden;
      width: 1px;
      height: 1px;
      opacity: 0;
    }

    .qrcode-text {
      padding-right: 1.7em;
      margin-right: 0;
      vertical-align: middle;
    }

    .qrcode-text + .qrcode-text-btn {
      width: 1.7em;
      margin-left: -1.7em;
      vertical-align: middle;
    }
    
  </style>
</div>