<div class="main" ondragstart="return false">

  <div class="centered-box">
    <img class="logo" src="https://lh3.googleusercontent.com/2mQ4ju83218V9qxvgMwPm08-tiXOhTgoFunQkLLGky1ODItFLht4QMiq4gG8GOOMo48hfn5LBSmMEvsxexYdmCx5ir1rDqXLMZ2V1QhAHOVzuu8SA4TLeRP2WJh3GgAju-B5HTZBeLIGXT1IPRUmTB9vxV0xcFnyJ0Xrbshl1Zq8zXOgo3XorAoXu6A8uiQKiDGUU_psNIW11OhYNpAc-_6px06LGGYTKABrfwL0tJ3u9-5cryE3FyIVvwvF33wkwe98IYu4ZV5hnuScQaRqmTHZ1CuErt6EVAK9OPUBmyP8Tl3FVv9Affs0c7hXM4GAHNKSvs-yXPPhvNIofNMkt1rrlhKhR77SRdjRLVwtXFdWZckooMA4wFZ1TMv71U1HoH3z6m7OrrAQ3Ylc-yAynU9WFtmR93IoSyy3Mq7aw96jtIdUtnCH5lSJ_9LLEyK8w1hDvgrR4_prg3iK4qzuiXYNZ_t6ZtTWEKQC20_HMB5uoCjGX0VNTTNqhgPvK6nW8EnJFKYazs0WfJ1zh33_9P3Znt8X1XtZZrO1RV2KIiN2xdWEO4br4amyZo5DuETV_TBwIF4e1NV8RZsQ4y63tbGMzpgk7uXjd4qCnVBr_v3xZqeRcnuW_CTLEnJwKSXONwfQwY4gTQhDz79dmvRzBVJzZZDoLpY=s400-no" alt="Imobizy">
    
    <div class="basic-centered-wrapper">
      <img class="text-logo" src="assets/icons/imobizy.png" alt="Imobizy">
    </div>

    <form class="login-form">
      <input id="username" class="login-input" type="text" min="3" placeholder="Nome de usuário">
      <input id="password" class="login-input" type="password" min="8" placeholder="Minha senha">
      <input class="form-submit" type="button" value="Entrar" (click)="redirect()">
    </form>
  </div>

</div>