@import '../../resources.scss';

.main {
  @include parentFlex(row, wrap, center);
}

.logo {
  flex-basis: auto;
  align-self: center;
  height: 37.48vh;
}
.basic-centered-wrapper {
  margin-top: 4em;
  .text-logo {
    flex-basis: auto;
    align-self: center;
    height: 2.7em;
  }
}

.centered-box {
  flex-basis: 100%;
  align-self: center;
  height: auto;
  @include parentFlex(row, wrap, center);
  .login-form {
    flex-basis: 100%;
    height: auto;
    margin-top: 6.2em;
    @include parentFlex(row, wrap, center);
    .login-input {
      flex-basis: 100%;
      margin-bottom: .9em;
      padding-bottom: .55em;
      border-bottom: 1px solid $themeColor;
      //text properties
      font-size: 2.1em;
      text-align: center;
      color: $textColor;
    }
    .form-submit {
      margin-top: 1.15em;
      padding: .55em 2.15em .55em 2.15em;
      border-radius: 2.5em;
      border: .2em solid $themeColor;
      font-size: 2em;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: $textColor2;
      @extend %soft-shadow;
      @include transition(.3s);
      cursor: pointer;
      background-color: $themeColor;
    }
  }
}