<div class="main-wrapper">
  <div class="wrapper">
    <img class="status-icon" src="https://lh3.googleusercontent.com/hmLfVqyWymnErNAX8whrFAr6tE8xlC7XzXBCK9caAT-QMxNOAxNXOM0dhhSx-9KF9hsAasbK67bMrkHWC4qGxpj5bL7FvOq_-VZDD5WmJuIxDFx-LH4WfxoiDEA5G5G_pz-dRe8vTNZibt8y7Y-_BmbxwlRaqLDOlAFPJjECbKBqsM7QBf2eXoWiHTcEc5srYPblnGG9_3_-3k0eaIOs4v9nvPfGABW-QN5Gi26adNAVdHwHQnI75g6jbRS4SClC_w9435lpfq5YMxWzWIQlIyJvB3Pl6_oMVm4FqcXfrEg8_M4PrXe1LuSIFOQ3kN6MCOZd9wOua6mmJf-B3vYnCHO3uPJtP99Yl_31diWcqkjFkCawcg2494uWc1h-hqRi4HzEoWR_n1kItEiXpge9IEK0BA-1AmkH9IO6g6Ey4lM8I3vgKTu81N-gfB-_47lS3LvJ4FB1a7MvjGNXaiiV7tHP2LTpZYbVwC4oyrR0IHkdgeqecUzlNfYRXB_dcwBau94PPAcV59DSG3m1PK2CpSPNUEtCbPdroP8qgsq96ik-RoODjE9tCm2zjL-7ldhA81z3tqwLYrhtvgRWDHBkbxWo5xUucr5gRICTBnnLEwR4ebGKdxkngiVAJvc4WZ3f1mK6UxjQXFRNCPO4YwEQ7iZRQuvxCYI=s512-no" alt="Auditoria confirmada!">
    <p class="success-message">Auditado!</p>
  </div>
</div>