<app-header></app-header>
<div class="main" ondragstart="return false">

  <div class="wrapper">
    <div class="half-box">
      <p class="big-numbers">{{ items.length }}</p>
      <p class="small-text">ítens<br><span class="stronger">registrados</span></p>
    </div>
    <div class="half-box">
      <div class="basic-button" [routerLink]="['/scanner', 'register']">
        <p class="btn-text">+ Registrar</p>
      </div>
      <div class="basic-button">
        <img class="btn-icon" src="https://lh3.googleusercontent.com/d6wlae_oJuOZAOyS5K-ZbQduqu79fAAmTVRCw_3AMvrG9LT_Z3xnYnwe6rGHuI0IqtEL71VE9o6xfQdRKy5A_iDpiYOOdrKrytKtEr-_RmlGsyzdbf9cOENA5HU7GvJxW_TwDWOMqMvZ4ATl08kFcn538d4IB_O1sSlMnPL6yzPZ5hdcpKYJE_k-mE7nNT5MMgv_MyIsoxc6jRZ7gzzqHtdI8wPhrWoScYH0sMojNcd57FvEPisiYIxVzqILjIx6SO_f-gpBIjVqKyUyHXc2tL851VqRzj1UG9NOE6yZG60ZHAK_LiLPHPMAEiXut0gqqsst7aA7KD0DRxR2M7O6gAH1qrGHXAAAxow0fkr1wCymqPtfTJmfBkxqwYX8IRMXauAiEO-XmLaO37895z1EVwmSZFpTjwXE8yPAyFjc9fYYQsFXq-C5De_X3gt2BNtu1mBe4ycM-5OKqlql7K0YZpJL59QgKfu-aNFvQjbDbSU5ae44yeGSHuqM79g3I1MmWdFvAj4j8rbJsZg_57TDiGJGgjoYWxTB1qBw0tJRaxRmF4FOUQSyQ-tylbvyJvMBC32s3LtyJbb6krSBCSb7ZRdx4x3Kn7boWnSb5mDPFCw6YJtH4mQJgzo8pd15r8y-6IAa2FLanpvkxfJfXu46U-A1ECgZJOc=s98-no" alt="Sincronizar">
        <p class="btn-text">Sincronizar</p>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="half-box">
      <p class="big-numbers">{{ audits.length }}</p>
      <p class="small-text">ítens<br><span class="stronger">auditados</span></p>
    </div>
    <div class="half-box">
      <div class="basic-button" (click)="toggleAuditsList()">
        <p class="btn-text">{{ currentAudit ? currentAudit.docNum : "+ Auditoria"}}</p>
        <img class="btn-icon" src="assets/icons/down-arrow.png" alt="Abrir menu de auditorias">
     </div>
      <div class="basic-button" [class.disabled-btn]="!currentAudit">
        <p class="btn-text" (click)="redirectAudit()">+ Registrar</p>
      </div>
    </div>
  </div>

  <div class="messenger-footer">
    <p class="useful-message">{{ currentAudit ? percent(items.length, currentAudit.items.length) + "% dos ítens registrados foram auditados" : 'Registre patrimônios e comece a auditar tocando em "+ Auditar"' }}</p>
  </div>

  <div class="audits-list-box">
    <p class="exit-button" (click)="toggleAuditsList()">x</p>
    <p class="audits-list-item new-item">+ Novo documento</p>
    <p *ngFor="let audit of audits" class="audits-list-item" (click)="selectAudit(audit)">{{ audit.docNum }}</p>
  </div>
  
</div>