@import '../../resources.scss';

.main {
  min-height: calc(100vh - 8em);
  padding-top: 8em;
}

.wrapper {
  width: 100%;
  height: auto;
  margin-top: 8em;
  @include parentFlex(row, wrap, space-between);
  .half-box {
    flex-basis: 48%;
    height: auto;
    @include parentFlex(row, wrap, flex-end);
    .big-numbers {
      flex-basis: 100%;
      font-size: 6em;
      font-weight: 300;
      text-align: center;
      margin-bottom: .1em;
    }
    .small-text {
      flex-basis: 100%;
      font-size: 2em;
      font-weight: 300;
      text-align: center;
      .stronger {
        font-weight: 700;
      }
    }
    .basic-button {
      flex-basis: 90%;
    }
  }
}

.messenger-footer {
  position: fixed;
  @include z-index(1);
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: .7em 0 .7em 0;
  background-color: #D0D0D0;
  .useful-message {
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
  }
}