<app-header></app-header>
<div class="main" ondragstart="return false">

  <h1 class="greeter-text"><span class="bigger-text"><strong>20%</strong> do</span><br>processo completo!</h1>

  <div class="progress-lines">
    <div class="progress-line" id="concluded-line"></div>
    <div class="progress-line" id="unfinished-line"></div>
  </div>

  <div class="aparted-items">
    <div class="work-data-box">
      <p class="big-numbers">16</p>
      <p class="small-text">ítens <strong>registrados</strong></p>
    </div>
    <div class="work-data-box">
      <p class="big-numbers">4</p>
      <p class="small-text">ítens <strong>auditados</strong></p>
    </div>
  </div>

  <div class="aparted-items">
    <input type="button" class="action-button" value="+ Registrar" [routerLink]="['/scanner', 'register']">
    <input type="button" class="action-button" value="+ Auditar" [routerLink]="['/scanner', 'audit']">
  </div>
  
</div>