@import '../../resources.scss';

.main {
  min-height: calc(100vh - 8em);
  padding-top: 8em;
}

.wrapper {
  width: 100%;
  height: auto;
  margin-top: 8em;
  @include parentFlex(row, wrap, space-between);
  .half-box {
    flex-basis: 48%;
    height: auto;
    @include parentFlex(row, wrap, flex-end);
    .big-numbers {
      flex-basis: 100%;
      font-size: 6em;
      font-weight: 300;
      text-align: center;
      margin-bottom: .1em;
    }
    .small-text {
      flex-basis: 100%;
      font-size: 2em;
      font-weight: 300;
      text-align: center;
      .stronger {
        font-weight: 700;
      }
    }
    .basic-button {
      flex-basis: 90%;
    }
    .disabled-btn {
      opacity: 0.55;
      cursor: default;
    }
  }
}

.messenger-footer {
  position: fixed;
  @include z-index(1);
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: .7em 0 .7em 0;
  background-color: #D0D0D0;
  .useful-message {
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
  }
}

.audits-list-box {
  position: fixed;
  @include z-index(-2);
  top: 10vh;
  left: 10%;
  width: 70%;
  height: calc(80vh - 1.5em);
  padding: 1.5em 5% 0 5%;
  overflow: auto;
  border-radius: 2.5em;
  @include box-shadow(0 0 2em -4px rgba(0,0,0,0.4));
  background-color: rgba($textColor2, 0.97);
  .exit-button {
    @include z-index(-2);
    font-size: 3.5em;
    font-weight: 900;
    float: right;
    cursor: pointer;
  }
  .audits-list-item {
    width: calc(100% - 1.5em);
    padding: .75em;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
  }
  .new-item {
    margin-top: calc(15vh - 1.5em);
    font-weight: 900;
    border-bottom: 0.15em solid $textColor;
  }
}