// SCSS Resources

$themeColor: #952F29;
$textColor: $themeColor;
$textColor2: #ffffff; 
$mainFont: 'Lato', sans-serif;


@mixin box-shadow($property) {
	-webkit-box-shadow: $property;
	-moz-box-shadow: $property;
	box-shadow: $property;
}

@mixin border-radius($property) {
	-webkit-border-radius: $property;
	-moz-border-radius: $property;
	border-radius: $property;
}

@mixin transition($property) {
	-webkit-transition: all $property;
	-moz-transition: all $property;
    -o-transition: all $property;
	transition: all $property;
}

@mixin transform($property) {
    -ms-transform: $property;
    -moz-transform: $property;
    -webkit-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin select($property) {
	-webkit-touch-callout: $property;
	-webkit-user-select: $property;
	-khtml-user-select: $property;
	-moz-user-select: $property;
	-ms-user-select: $property;
	user-select: $property;
}

@mixin animation($properties) {
	-webkit-animation: $properties;
	-moz-animation: $properties;
	animation: $properties;
}

@mixin z-index($value) {
  -webkit-z-index: $value;
  -moz-z-index: $value;
  -ms-z-index: $value;
  -o-z-index: $value;
  z-index: $value;
}

@mixin parentFlex($direction, $wrap, $justify) {
	@extend %flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
}

%flex {
	display: -webkit-box;
  display: -moz-box;
 	display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

%background-gradient {
	background: rgba(240,240,240,1);
	background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(222,222,222,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(0%, rgba(240,240,240,1)), color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(222,222,222,1)));
	background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(222,222,222,1) 100%);
	background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(222,222,222,1) 100%);
	background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(222,222,222,1) 100%);
	background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 0%, rgba(222,222,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dedede', GradientType=0 );
}

%soft-shadow {
	@include box-shadow(0px 3px 6px 0px rgba(0,0,0,0.16));
}