/* SCSS by Imobizy */

@import 'resources';

* {
  margin: 0;
  padding: 0;
}
*:active,
*:focus {
  outline: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
} 

input,
textarea {
  border: none;
  @include box-shadow(none);
  color: inherit;
  background-color: transparent;
}

@include placeholder($textColor);

ul {
  list-style: none;
}

.main {
  width: calc(100% - 6em);
  height: auto;
  min-height: 100vh;
  padding: 0 3em 0 3em;
  font-family: $mainFont;
  font-size: 62.5%;
  color: $textColor;
  @include select(none);
  @extend %background-gradient;
}

.detailed-title {
  width: 100%;
  margin-bottom: 2.25em;
  padding: .3em 0 .3em 0;
  border-radius: 2em;
  font-size: 2em;
  color: $textColor2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: $themeColor;
}

.basic-button {
  width: auto;
  height: 4.4em;
  @include parentFlex(row, wrap, center);
  align-self: center;
  border-radius: .5em;
  cursor: pointer;
  background-color: $themeColor;
  .btn-icon {
    align-self: center;
    flex-basis: auto;
    height: 40%;
    margin: .2em .2em 0 .2em;
    margin-top: .2em;
    margin-right: 1em;
  }
  .btn-text {
    align-self: center;
    margin: 0 .2em 0 .2em;
    font-size: 2em;
    color: $textColor2;
  }
}