<app-header></app-header>
<div class="main" ondragstart="return false">

  <h2 class="detailed-title">Informações do ítem</h2>
  <div *ngIf="item">
    <p class="label">Código: <span>#{{ item.id }}</span></p>
    <p class="label">Descrição:</p>
    <input class="content-input" type="text" placeholder="Faça um breve resumo" value="{{ item.descricao }}">
    <p class="label">Marca:</p>
    <input class="content-input" type="text" placeholder="Ex.: Apple, Nike..." value="{{ item.marca }}">
    <p class="label">Modelo:</p>
    <input class="content-input" type="text" placeholder="Linha do produto" value="{{ item.modelo }}">
    <p class="label">Complemento:</p>
    <input class="content-input" type="text" placeholder="Medidas" value="{{ item.complemento }}">
    <p class="label">N° Série:</p>
    <input class="content-input" type="text" placeholder="Código identidicador" value="{{ item.serie }}">
    <p class="label">Local:</p>
    <input class="content-input" type="text" placeholder="Onde fica?" value="{{ item.local }}">
    <div class="add-photos">
      <div class="add-icon">
        <p class="add-symbol"></p>
      </div>
      <p class="add-text">Adicionar fotos</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="centered-box">
      <input type="button" class="submit-buttons cancel-btn" value="Cancelar" [routerLink]="['/dashboard']">
      <input type="button" class="submit-buttons save-btn" value="Salvar" (click)="saveItem()">
    </div>
  </div>

  <div *ngIf="messageService.messages.length"
       (click)="messageService.clear()"
       class="message-background-mask"
  >
    <div *ngFor="let message of messageService.messages"
         class="message-box"
         [class.success]="message.severity == 0"
         [class.warning]="message.severity == 1"
         [class.error]="message.severity == 2">
      <p class="message-body">
        {{ message.body }}
      </p>
      <p class="exit-message-btn" (click)="messageService.clear()">x</p>
    </div>
  </div>

</div>